.header-logo { 
    width: 93px;
     /* height: 25px;  */
}

.fullscreen{
    background-color: black;
    width: 100%;
    height: 100%;
   
}

.first_heading{
    color: white;
}

.image_of_profil{
    height: 192px;
    width: 192px;
}
.profil_name{
    color: white;
   
}
.flex_container{
    height: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    background-color: black;
    /* height: 100vh; */
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    

}

.profil_section{
width: 75%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-center; */
    /* justify-content: center; */
    justify-content: space-between;
   }

   
 .flex_container_section2_button{
    background-color: black;
    color: white;
    padding: 12px;
    border: 1px solid rgb(226, 223, 223);
    font-size: 16px;
 }
